@media (min-width: 320px) and (max-width: 480px) and (orientation:portrait){
    header .pre-nav {
      display: none;
    }

    nav .nav-link {
    /* border: 2px solid red; */
    margin-top: 2%;
    text-transform: capitalize;
    padding-left: 20px;
    text-align: left;
  }

    ul .nav-item{
      font-size: 1.3rem;
    }

    .home{
      display: block;
    }
    nav .nav-link img{
      width: 12%;
    }
    
    .box-logo img{
      display: none;
    }
    
    .container{
      width: 115%;
    }

    section{
      width: 100%;
      margin-bottom: 5%;
      display: flex;
  
    }
  }

  @media (min-width: 320px) and (max-width: 480px) and (orientation:landscape){
    header .pre-nav {
      display: none;
    }

    nav .nav-link {
    /* border: 2px solid red; */
    margin-top: 2%;
    text-transform: capitalize;
    padding-left: 20px;
    text-align: left;
  }

    ul .nav-item{
      font-size: 1.3rem;

    }
    nav .nav-link img{
      width: 8%;
    }
    
    .box-logo img{
      display: none;
    }
    
    .container{
      width: 100%;
    }

    section{
      width: 100%;
      margin-bottom: 5%;
    }
  }

@media (min-width: 481px) and (max-width: 768px) and (orientation:portrait){
  header .pre-nav {
      display: none;
    }

    nav .nav-link {
    margin-top: 2%;
    text-transform: capitalize;
    padding-left: 20px;
    text-align: left;
  }

    ul .nav-item{
      font-size: 1.3rem;

    }
    nav .nav-link img{
      width: 7%;
    }
    
    .box-logo img{
      display: none;
    }
    .container{
      width: 100%;
    }

    section{
      width: 90%;
      margin-bottom: 5%;
    }
  }



@media (min-width: 481px) and (max-width: 768px) and (orientation:landscape){
header .pre-nav {
      display: none;
    }

    nav .nav-link {
    /* border: 2px solid red; */
    margin-top: 2%;
    text-transform: capitalize;
    padding-left: 20px;
    text-align: left;
  }

    ul .nav-item{
      font-size: 1.3rem;

    }
    nav .nav-link img{
      width: 7%;
    }
    
    .box-logo img{
      display: none;
    }
    .container{
      width: 100%;
    }

    section{
      width: 100%;
      margin-bottom: 5%;
    }
  }

  @media (min-width: 769px) and (max-width: 1190px) and (orientation:portrait){
    header .pre-nav {
      display: none;
    }

    nav .nav-link {
    /* border: 2px solid red; */
    margin-top: 2%;
    text-transform: capitalize;
    padding-left: 20px;
    text-align: left;
  }


    ul .nav-item{
        font-size: 1.6rem;
      }

    nav .nav-link img{
      width: 5%;
    }
    
    .box-logo img{
      display: none;
    }
}
@media (min-width: 769px) and (max-width: 1190px) and (orientation:landscape){
header .pre-nav {
      display: none;
    }

    nav .nav-link {
    margin-top: 2%;
    text-transform: capitalize;
    padding-left: 20px;
    text-align: left;
  }

    ul .nav-item{
        font-size: 1.6rem;
      }
    nav .nav-link img{
      width: 5%;
    }
    
    .box-logo img{
      display: none;
    }


}