
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
  background-color: #f0efef;
}


header .pre-nav {
  background-color: #000;
  width: 100%;
  height: 2vh;
}

.box-logo {
  width: 15%;
  margin-left: 6%;

}

.box-logo img {
  height: 13vh;
  width: 100%;
  background-color: #000;
}

#navbar-menu {
  margin-right: 5%;

}

nav .nav-link {
  font-weight: 700;
  color: #898585;
  text-transform: uppercase;
}

nav .nav-link img {
  width: 70%;
  height: 70%;
}

.collapse.navbar-collapse {
  margin-right: 6%;

}

.navbar-nav .nav-link.active {
  color: #000;
  font-weight: 700;
}


.form-control:focus {
  border-color: #d6d6d6;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(14, 14, 14, 0.6);
}

.form-select:focus {
  border-color: #D6D6D6;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(14, 14, 14, 0.6);
}

/* LOGIN */
.box-login{
  padding: 4px;
  display: flex;
  flex-direction: row;
  width: 15%;
  margin-left: 85%;
}

.box-login>span{
  display: flex;
  padding: 5px;
  margin-right: 3%;
}

.box-login .nav-link{
  display: flex;
  padding: 5px;
}

.box-login .nav-link:hover{
  text-decoration: underline;
}


/* HOME */

.home{
  display: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main article img {
  width: 100%;
  height: 100%;
}

section {
  width: 45%;
  height: 65vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

article {
  width: 45%;
  height: 45%;
}

/* GALERIA */
.main-galeria {
  display: flex;
  justify-content: flex-start;
}

.main-galeria .box-form{
    background-image: url(../img/fundo02.png);
    background-repeat: repeat;
    background-size:contain;

}

.box-sideBar {
  background-color: #D9D9D9
}

.main-galeria .box-sideBar {
  width: 13vw;
  padding-right: 5px;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  margin-right: 8%;
  margin-left: 7%;
}

.main-galeria .box-sideBar h2 {
  font-size: 1.7rem;
  font-weight: 500;
}

.main-galeria section {
  border: 30px solid #D9D9D9;
  width: 64%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.main-galeria article {
  width: 33%;
  height: 25vh;
}

.main-galeria article img {
  width: 100%;
  height: 35vh;
}


/* PROJETO */
.main-projeto{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #2c2c2c;

}

.main-projeto section{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;

}

.main-projeto section .navbar-nav{
  display: flex;
  flex-direction: row;
}

.main-projeto section .navbar-nav .nav-link{
  padding: 20px;
}


section.projeto{
  width: 100%;
  /* height: 50vh; */
  padding: 20px;
  background-image: url('../../img/fundo_06.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  color: #ffffff;
}


.main-projeto section img{
  border: 30px solid #2c2c2c;
  width: 25vw;
  height: 45vh;
}


/* MODAL */
.main-modal{
  background-color: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}
.modal-content {
  width: 30%;
  background-color: #89858500;

}
.main-modal section{
  display: contents;
  
}


.modal-content img{
  width: 100%;
  height: 70vh;
}